<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1 align="center">Frequently Asked Questions</h1>

<div class="body-container">
    <p>
        <h3>How many credits are transferable?</h3>
        A meximum of 60 credits are transferrable.
    </p>

    <br>

    <p>
        <h3>Why woun't all my credits transfer?</h3>
        Different majors have different requirements.
    </p>

    <br>

    <p>

        <h3>Who do I go to for questions about transferring?</h3>
        For further questions, please contact admissions.
    </p>
</div>
</body>
</html>