@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.img-container img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	width: 1050px;
	
}

.submitbutton {
	margin-left: 60%;
}

.title {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}
.courses{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height:auto;
	max-height:420px;
	overflow:auto;
}

.btn-primary{
	background: #d2232a !important;
	text-align: center;
	font-size: 18px;
	height: 40px;
	vertical-align: middle;
	font-family: roboto;
	margin-left: 60%;
}

.btn-primary:hover {
  /* border: 1px solid #2f5bb7; */
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #ba1f26;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.btn-primary:active:focus{
	background-color: #7e1418;
}