<h1>Frequently Asked Questions</h1>

<h3>How many credits are transferable?</h3>
	<p>
		60 credits are transferrable, but if you have 60-89 credits,
		you will need to get the remaining credits from an accredited four
		year institution.
	</p>
<h3>Why woun't all my credits transfer?</h3>
	<p>
		Different majors have different requirements, and some majors are
		very particular about the course offerings.
	</p>
<h3>Who do I go to for questions about transferring?</h3>
	<p>For further questions, please speak to your department head or the Registrar.
	</p>	

