<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="styles\entercourses_style.css">
	</head>

	<body>
		<!-- script for the add more button, if used -->
		<script>
			var i = 0;
			var original = document.getElementById('dropdowns');
			function duplicate() {
				var clone = original.cloneNode(true);
				clone.id = "dropdowns" + ++i;
				original.parentNode.appendChild(clone);
			}
			$(".addmore > .btn").click(function(){
				$('button').prop('disabled', true);
			});
		</script>
		
		<div class="img-container">
			<img src = "images\longlogo.jpg" alt = "Marist Logo">
		</div>

		<h1>Enter Courses</h1>	
	
		<div id="dropdowns">
			<p>
				<select class="courses" id="course1" name="courses[courses]">
					<option value="" disabled selected>Choose Course</option><br>
					<option value="">Computer Science I</option><br>
					<option value="">Computer Science II</option><br>
					<option value="">Computer Science Elective</option><br>
					<option value="">Computing Study Seminar</option><br>
					<option value="">Intro to Programming</option><br>
					<option value="">Object Oriented Programming C++</option><br>
					<option value="">Robotics</option><br>
					<option value="">Software Developement I</option><br>
					<option value="">Technology + Entrepreneurship</option><br>
					<option value="">Technology For 21st Century</option><br>
				</select>
			</p>
			<p>
				<select class="courses" id="course2" name="courses[courses]">
					<option value="" disabled selected>Choose Course</option><br>
					<option value="">Computer Science I</option><br>
					<option value="">Computer Science II</option><br>
					<option value="">Computer Science Elective</option><br>
					<option value="">Computing Study Seminar</option><br>
					<option value="">Intro to Programming</option><br>
					<option value="">Object Oriented Programming C++</option><br>
					<option value="">Robotics</option><br>
					<option value="">Software Developement I</option><br>
					<option value="">Technology + Entrepreneurship</option><br>
					<option value="">Technology For 21st Century</option><br>
				</select>	
			</p>
			<p>
				<select class="courses" id="course3" name="courses[courses]">
					<option value="" disabled selected>Choose Course</option><br>
					<option value="">Computer Science I</option><br>
					<option value="">Computer Science II</option><br>
					<option value="">Computer Science Elective</option><br>
					<option value="">Computing Study Seminar</option><br>
					<option value="">Intro to Programming</option><br>
					<option value="">Object Oriented Programming C++</option><br>
					<option value="">Robotics</option><br>
					<option value="">Software Developement I</option><br>
					<option value="">Technology + Entrepreneurship</option><br>
					<option value="">Technology For 21st Century</option><br>
				</select>
			</p>
			<p>
				<select class="courses" id="course4" name="courses[courses]">
					<option value="" disabled selected>Choose Course</option><br>
					<option value="">Computer Science I</option><br>
					<option value="">Computer Science II</option><br>
					<option value="">Computer Science Elective</option><br>
					<option value="">Computing Study Seminar</option><br>
					<option value="">Intro to Programming</option><br>
					<option value="">Object Oriented Programming C++</option><br>
					<option value="">Robotics</option><br>
					<option value="">Software Developement I</option><br>
					<option value="">Technology + Entrepreneurship</option><br>
					<option value="">Technology For 21st Century</option><br>
				</select>
			</p>
			<p>
				<select class="courses" id="course5" name="courses[courses]">
					<option value="" disabled selected>Choose Course</option><br>
					<option value="">Computer Science I</option><br>
					<option value="">Computer Science II</option><br>
					<option value="">Computer Science Elective</option><br>
					<option value="">Computing Study Seminar</option><br>
					<option value="">Intro to Programming</option><br>
					<option value="">Object Oriented Programming C++</option><br>
					<option value="">Robotics</option><br>
					<option value="">Software Developement I</option><br>
					<option value="">Technology + Entrepreneurship</option><br>
					<option value="">Technology For 21st Century</option><br>
				</select>	
			</p>
			<p>
				<select class="courses" id="course5" name="courses[courses]">
					<option value="" disabled selected>Choose Course</option><br>
					<option value="">Computer Science I</option><br>
					<option value="">Computer Science II</option><br>
					<option value="">Computer Science Elective</option><br>
					<option value="">Computing Study Seminar</option><br>
					<option value="">Intro to Programming</option><br>
					<option value="">Object Oriented Programming C++</option><br>
					<option value="">Robotics</option><br>
					<option value="">Software Developement I</option><br>
					<option value="">Technology + Entrepreneurship</option><br>
					<option value="">Technology For 21st Century</option><br>
				</select>	
			</p>
			<p>
				<select class="courses" id="course5" name="courses[courses]">
					<option value="" disabled selected>Choose Course</option><br>
					<option value="">Computer Science I</option><br>
					<option value="">Computer Science II</option><br>
					<option value="">Computer Science Elective</option><br>
					<option value="">Computing Study Seminar</option><br>
					<option value="">Intro to Programming</option><br>
					<option value="">Object Oriented Programming C++</option><br>
					<option value="">Robotics</option><br>
					<option value="">Software Developement I</option><br>
					<option value="">Technology + Entrepreneurship</option><br>
					<option value="">Technology For 21st Century</option><br>
				</select>	
			</p>
			<p>
				<select class="courses" id="course5" name="courses[courses]">
					<option value="" disabled selected>Choose Course</option><br>
					<option value="">Computer Science I</option><br>
					<option value="">Computer Science II</option><br>
					<option value="">Computer Science Elective</option><br>
					<option value="">Computing Study Seminar</option><br>
					<option value="">Intro to Programming</option><br>
					<option value="">Object Oriented Programming C++</option><br>
					<option value="">Robotics</option><br>
					<option value="">Software Developement I</option><br>
					<option value="">Technology + Entrepreneurship</option><br>
					<option value="">Technology For 21st Century</option><br>
				</select>	
			</p>
			<p>
				<select class="courses" id="course5" name="courses[courses]">
					<option value="" disabled selected>Choose Course</option><br>
					<option value="">Computer Science I</option><br>
					<option value="">Computer Science II</option><br>
					<option value="">Computer Science Elective</option><br>
					<option value="">Computing Study Seminar</option><br>
					<option value="">Intro to Programming</option><br>
					<option value="">Object Oriented Programming C++</option><br>
					<option value="">Robotics</option><br>
					<option value="">Software Developement I</option><br>
					<option value="">Technology + Entrepreneurship</option><br>
					<option value="">Technology For 21st Century</option><br>
				</select>	
			</p>
			<p>
				<select class="courses" id="course5" name="courses[courses]">
					<option value="" disabled selected>Choose Course</option><br>
					<option value="">Computer Science I</option><br>
					<option value="">Computer Science II</option><br>
					<option value="">Computer Science Elective</option><br>
					<option value="">Computing Study Seminar</option><br>
					<option value="">Intro to Programming</option><br>
					<option value="">Object Oriented Programming C++</option><br>
					<option value="">Robotics</option><br>
					<option value="">Software Developement I</option><br>
					<option value="">Technology + Entrepreneurship</option><br>
					<option value="">Technology For 21st Century</option><br>
				</select>	
			</p>
		</div>
	
		<!--<div class="addmore"> 
			<button type="button" class="btn" onclick="duplicate()">+ Add more courses</button>
		</div>-->
	
		<div class="submitbutton">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
		<br>

<!--<a href ng-click="showhidedetails = !showhidedetails" style="font-size:160%">filter</a>
	<div id="showhidedetails" ng-hide="showhidedetails">
		<div class="showcolleges"> hello</div>-->

	</body>
</html>