<h1>Enter Courses</h1>

<p>
 1.<select class="courses" id="course1" name="courses[courses]">
              <option selected="selected" value="<?php echo @$_POST['dropdown']; ?>"> Choose Course</option> <br> <!--Make this backend friendly since its not php -->
    </select>
</p>

<p>
 2.<select class="courses" id="course2" name="courses[courses]">
              <option selected="selected" value="<?php echo @$_POST['dropdown']; ?>"> Choose Course</option> <br>
    </select>	
</p>

<p>
 3.<select class="courses" id="course3" name="courses[courses]">
              <option selected="selected" value="<?php echo @$_POST['dropdown']; ?>"> Choose Course</option> <br>
    </select>	
</p>

<p>
 4.<select class="courses" id="course4" name="courses[courses]">
              <option selected="selected" value="<?php echo @$_POST['dropdown']; ?>"> Choose Course</option> <br>
    </select>
</p>

<p>
 5.<select class="courses" id="course5" name="courses[courses]">
              <option selected="selected" value="<?php echo @$_POST['dropdown']; ?>"> Choose Course</option> <br>
    </select>	
</p>


<div>

<h3>Add College</h3>
<h3>Add Courses</h3>

<a href ng-click="showhidedetails = !showhidedetails" style="font-size:160%">filter</a>
	<div id="showhidedetails" ng-hide="showhidedetails">
		<div class="showcolleges"> hello</div>


</div>