<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="styles\login_style.css">
	</head>

	<body>
		<div class="img-container">
			<img src = "images\longlogo.jpg" alt = "Marist Logo">
		</div>
		
		<h1 align="center">Welcome to the Marist Transfer Application</h1>
	
		<div class="loginmodal-container">
			<form>
				<input type="text" name="user" placeholder="Email" required>
				<input type="password" name="pass" placeholder="Password" required>
				<input type="submit" name="login" class="login loginmodal-submit" value="Login">
			</form>
			<div class="login-help">
				<a href="#/newstudent">New Users</a>&nbsp;&nbsp;-&nbsp;&nbsp;<a href="">Admin (demo only)</a>
			</div>
		</div>
	</body>
</html>