<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="styles\newstudent_style.css">
	</head>

	<body>
		<div class="img-container">
			<img src = "images\longlogo.jpg" alt = "Marist Logo">
		</div>
		
		<h1 align="center">Registration</h1>
		
		<div class="register-container">
			<form>
				<input type="text" name="" placeholder="First Name" required>
				<input type="text" name="" placeholder="Last Name" required>
				<input type="text" name="user" placeholder="Email" required>
				<input type="password" name="pass" placeholder="Password" required>
				<select class="colleges" required>
					<option value="" disabled selected>
						Choose Current College
					</option>
					<option value="DCC">
						Dutchess Community College
					</option>
				</select>
				<input type="submit" name="login" class="login register-submit" value="Register">
			</form>
		</div>
	</body>
</html>
