<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="styles\registerconfirm_style.css">
	</head>

	<body>
		<div class="img-container">
			<img src = "images\longlogo.jpg" alt = "Marist Logo">
		</div>
		<br>
		
		<div class="message" align="center">
			<h1>Thank you for registering.</h1><br>
			You will receive a confirmation email shortly.<br>
			Press the continue button to begin entering your courses for<br>
			credit transfer calculation or press the back button to return home.<br>
		</div>
	
		<div class="buttons-container" align="center">
			<a class="btn btn-primary" href="#/studentview" role="button">Back</a>
			<a class="btn btn-primary" href="#/entercourses" role="button">Enter Courses</a>
		</div>
	</body>
</html>
