<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="styles\studentview_style.css">
	</head>

	<body> 
		<div class="img-container">
			<img src = "images\longlogo.jpg" alt = "Marist Logo">
		</div>
		
		<h1 align="center">Welcome to the Marist Transfer Application</h1>
		<br>
		
		<div class="buttons-container" align="center">
			<p>
				<a class="btn btn-primary" href="#/viewcourses" role="button">View Selected<br>Courses</a>
			</p>
			<br>
			<br>
			<p>
				<a class="btn btn-primary" href="#/entercourses" role="button">Enter<br>Courses</a>
			</p>
		</div>
	</body>

<!--
		Todo: 
		1. Get Dropdowns done
		2. login screen
		3. Admin view
		4. Hook up backend
		5. Node API thing
		6. 
-->
</html>
